personal.*
nftables.conf
home/.config/guix/shell-authorized-directories
*.iso
*.gpg
*.bkp
feeds.el
wumpus.pizza
publish-website
output.png
wpa-supplicant.conf
.stfolder
i2pd
sabnzbd
*.pac
torrc
sleep-guix.pub
vps-guix.pub
technitium
mw
screenshot-2*
