* {
    font-family: "JetBrains Mono";
    font-weight: bold;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}

window#waybar {
    background: rgba(20, 20, 20, 0);
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    opacity: 0.7;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #ffffff;
}

tooltip label {
    color: #cdd6f4;
}

#workspaces button {
    color: #717273;
    border: none;
    padding: 0px 4px 0px 4px;
    margin: 0px 4px 0px 4px;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #eaeaea;
    color: #000000;
}

#temperature.critical {
    color: #e92d4d;
}

/* All modules */
.module {
    background: rgba(0, 0, 0, 0.7);
    padding: 6px 8px 6px 8px;
    margin-top: 5px;
    color: #ffffff;
}

/* Start rounded */
#battery,
#clock,
#cpu,
#custom-launch_wofi,
#network,
#pulseaudio.speakers,
#tray,
#mpris,
#window {
    /* Margin between module sections */
    margin-left: 6px;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* End rounded */
#custom-light_dark,
#network,
#clock,
#workspaces,
#backlight,
#memory,
#tray,
#pulseaudio.microphone,
#mpris,
#window {
    padding-right: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Exceptions */

/* First module */
#custom-launch_wofi {
    margin-left: 5px;
    color: #ffde21;
}

/* Last module */
#clock {
    margin-right: 5px;
}

#workspaces {
    padding-left: 0px;
    padding-right: 2px;
}

#custom-launch_wofi:hover {
    background: #eaeaea;
    color: #000000;
}
