* {
    border: none;
    border-radius: 0;
    font-family: DejaVu Sans Mono, FontAwesome, monospace;
    font-size: 20px;
}

window#waybar {
    background: #222524;
    color: #eaf2ef;
}

tooltip {
    background: #222524;
    border: 1px solid #5d5f63;

}

tooltip label {
  color: white;
}

#workspaces button {
    color: #cac85f;
}

#workspaces button.persistent {
    color: #dfd2c4;
}

#workspaces button.focused {
	border-top: 3px solid #cac85f;
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	background: #a6a6a6;
	color: #0f0e06;
}

#window {
    margin-left: 0px;
    margin-right: 0px;
}

#pulseaudio,#wireplumber,#network,#cpu,#memory,#backlight,#battery,#clock {
	margin-left: 3px;
	margin-right: 3px;
	padding: 0 3px;
}

#wireplumber {
    border-top: 3px solid #e0b02f;
    color:  #eaf2ef;
}

#wireplumber.muted {
    color: #887c8a;
}

#network.wifi {
	border-top: 3px solid #7fc87f;
    color: #eaf2ef;
}

#network.disconnected {
	border-top: 3px solid #bd1f30;
    color: #eaf2ef;
}

#cpu {
    border-top: 3px solid #57aff6;
    color: #eaf2ef;
}

#memory {
    border-top: 3px solid gray;
    color: #eaf2ef;
}

#backlight {
    border-top: 3px solid #6fcfd2;
    color: #eaf2ef;
}

#battery.full {
    border-top: 3px solid #7fca5a;
    color: #eaf2ef;
}

#battery.good {
    border-top: 3px solid #cac85f;
    color: #eaf2ef;
}

#battery.critical {
    border-top: 3px solid #bd1f30;
    color: #eaf2ef;
}

#clock {
    border-top: 3px solid #f59acf;
    color: #eaf2ef;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
