* {
    border: none;
    border-radius: 0;
    font-family: DejaVu Sans Mono, Noto, FontAwesome, sans-serif;
    font-size: 18px;
}

window#waybar {
    /* background: rgba(28, 28, 28, 1.0); */
    background: #0f0e06;
    color: #cfbcba;
}

tooltip {
  background: rgba(43, 48, 59, 0.8);
  border: 1px solid rgba(100, 114, 125, 0.8);
}

tooltip label {
  color: white;
}

#workspaces button {
    color: #c48702;
}

#workspaces button.persistent {
    color: #dfd2c4;
}

#workspaces button.focused {
	border-top: 3px solid #c48702;
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	background: #a6a6a6;
	color: #0f0e06;
}

#window {
    margin-left: 0px;
    margin-right: 0px;
}

#pulseaudio,#wireplumber,#network,#cpu,#memory,#backlight,#battery,#clock {
	margin-left: 3px;
	margin-right: 3px;
	padding: 0 3px;
}

#wireplumber {
    border-top: 3px solid #d0730f;
    color:  #cfbcba;
}

#wireplumber.muted {
    color: #887c8a;
}

#network.wifi {
	border-top: 3px solid #2fa526;
    color: #cfbcba;
}

#network.disconnected {
	border-top: 3px solid #b02930;
    color: #cfbcba;
}

#cpu {
    border-top: 3px solid #6a88ff;
    color: #cfbcba;
}

#memory {
    border-top: 3px solid #a6a6a6;
    color: #cfbcba;
}

#backlight {
    border-top: 3px solid #4fb0cf;
    color: #cfbcba;
}

#battery.full {
    border-top: 3px solid #64aa0f;
    color: #cfbcba;
}

#battery.good {
    border-top: 3px solid #c48702;
    color: #cfbcba;
}

#battery.critical {
    border-top: 3px solid #b02930;
    color: #cfbcba;
}

#clock {
    border-top: 3px solid #d570af;
    color: #cfbcba;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
