# Goto the beginning of document.
goto-beginning gk

# Goto the end of the document
goto-end gj

# Opens a prompt to enter page number and jump to that page
goto-page-with-page-number gg

## Goto left/right/bottom/top side of the page
goto-left  gh
goto-right gl

# Goto left/right side of the page ignoring white margins
goto-left-smart ^
goto-right-smart $

# Movement (can be prefixed with a number)
move-down   j
move-up     k
move-left   l
move-right  h

# Goto forward for one page width. (can be prefixed with a number)
# (note that going forward for one page width is not usually what you want because if
# the page is larger than the screen you will miss some content. What you usually want is screen-down)
next-page <A-j>
previous-page <A-k>

# Go down one screen width (can be prefixed with a number which tells how many screen widths should we go down)
screen-down J
screen-up K

# Goto the next/prev chapter
next-chapter cj
prev-chapter ck

# Goto previous viewing state and delete the current (and future) state(s).
# pop-state w

# Goto the previous history point
prev-state <backspace>
prev-state <C-<left>>

# Create a new sioyek window
new-window <space><ret>

## Search and switch between sioyek windows
goto-window gw

# If we are not at the end of viewing history, goto the next history point
next-state <S-<backspace>>
next-state <C-<right>>

# Open table of contents.
goto-toc <tab>

# Zoom
fit-to-page-width =
zoom-in-cursor    +
zoom-out-cursor   -

# Rotate document
rotate-clockwise r
rotate-counterclockwise R

# Automatically set the zoom level and horizontal offset such that the current page is centered horizontally and
# it fills the screen width
fit-to-page-width s

fit-to-page-height S

## Same as fit-to-page-width-smart, but instead of filling the screen width, it fills the ratio of screen that is
## configured in `prefs-user.config` using `fit-to-page-width-ratio` config. See https://github.com/ahrm/sioyek/issues/162#issuecomment-1059738730.
#fit-to-page-width-ratio f

# Open a file dialog to select a document.
open-document o

# Open last opened document
open-last-document <A-<tab>>

# Open an embedded file dialog in sioyek
open-document-embedded <C-o>
# Open an embedded file dialog in sioyek rooted in the directory of current opened file
open-document-embedded-from-current-path <C-S-o>

# Open a searchable list of previously opened documents.
open-prev-doc O

## Opens the last document opened is sioyek. It is useful when you want to quickly toggle between two documents
#open-last-document <unbound>

## Keyboard shortcut to enter visual mark mode (instead of right clicking)
enter-visual-mark-mode <escape>

# Command the move the visual mark to the next/previous line
# these keys only work when a visual mark is set (by right clicking or using `visual-mark-under-cursor` command)
move-visual-mark-up k
move-visual-mark-down j

## lock horizontal scroll, useful when using laptop touchpads
# toggle-horizontal-scroll-lock <unbound>

# ---------- SEARCH ----------

# Search the document.
# example: /something                   (searches the document for 'something')
# you can also specify a page range to search:
# example: /<110,135>something          (searches pages 110 to 135 (inclusive) for 'something')
search /

# Searches the current chapter. This is essentially the same as search but the range prefix is autofilled
# with the range of the current lowest level subchapter.
chapter-search c/

# Goto the next search item. Can be prefixed with a number which is the same as performing the command n times
# for example if we are on the 10th search result and we input 15n, we go to the 25th search result.
next-item n
# Goto the previous search result. Can be prefixed with a number with similar rules as next-item.
previous-item N

# ---------- BOOKMARKS ----------
# Add a bookmark in the current location (opens a text input where you can specify the bookmark text)
add-bookmark ab
delete-bookmark db

# Open bookmarks menu of the current document.
goto-bookmark gb

# Open bookmarks menu of all documents.
goto-bookmark-g gB

# ---------- HIGHLIGHTS ----------
# You can select a piece of text and press the `add-highlight` shortcut followed by a symbol (a character from a-z) to highlight
# the text
add-highlight ah
# Goto highlights of current document
goto-highlight gh
# Goto highlights of all documents
goto-highlight-g gH
# Left click on a highlight and then press the `delete-highlight` shortcut to delete it.
delete-highlight dh

# Sets the highlight type to be used for other operations (the default highlight type is 'a')
#set-select-highlight-type

## Same as `add-highlight` but uses the current selected highlight type as the type of highlight
#add-highlight-with-current-type <unbound>

## Toggle select highlight mode. In select highlight mode, all text selected using mouse will automatically be highlighted
## with highlight type set using `set-select-highlight-type`
#toggle-select-highlight <unbound>

# Goto next/previous highlight in current document
goto-next-highlight gnh
goto-prev-highlight gNh

## Goto next/previous highlight of the current selected highlight type
#goto-next-highlight-of-type <unbound>
#goto-prev-highlight-of-type <unbound>

# ---------- MARKS ----------

# Mark the current location. After pressing the mark button, you must enter a symbol (a letter from a-z or A-Z).
# this marks the current location in the file with the entered symbol. Afterwards you will be able to return to
# the locations of the marks using goto-mark command.
set-mark am
# Goto a previously set mark. After pressing goto-mark you must enter a symbol associated with a previously set mark.
goto-mark gm

# ---------- PORTALS ----------
# If we are in default state, goto portal state with the current location in document as the portal source
# if we are already in the portal state, create the portal with the current location as destination.
portal ap

# Delete the portal with the closest source to current location
delete-portal dp

# Goto the position of the portal with the closest source to current location
goto-portal gp

# Similar to goto-portal, except when prev-state is called, the destination of the portal is update to be the state
# on which prev-state is called
edit-portal ep

# Open/Close the helper window for portals
toggle-window-configuration <f12>

## open/close helper window
#toggle-one-window <unbound>

# ---------- MISC ----------

# Copy selected text
copy y

toggle-fullscreen <f11>

# open command line
command :

# Search the selected text using one of the search engines defined using search-url-* settings in prefs.config (* can be any letter between 'a' and 'z')
# see https://sioyek-documentation.readthedocs.io/en/latest/usage.html#external-search
external-search ?

# opens the selected text as a url in the default browser
# open-selected-url Q

# Toggle dark mode (inverted colors)
#toggle-dark-mode <C-r>

## Toggle custom color mode. You can specify the text background color in your `prefs-user.config` file
## see https://sioyek-documentation.readthedocs.io/en/latest/configuration.html#custom-background-color-and-custom-text-color
toggle-custom-color <C-r>

# Toggle synctex mode. When in synctex mode, right clicking on a pdf launches the corresponding latex page.
toggle-synctex <f4>

## Perform a synctex search under the mouse cursor
#synctex-under-cursor <unbound>

# While in mouse drag mode, instead of selecting text you can pan the screen using mouse
toggle-mouse-drag-mode <f6>

# In visual scroll mode, mouse wheel performs `move-visual-mark-up` and `move-visual-mark-down` commands
toggle-visual-scroll <f7>

# In visual scroll mode, create an overview to/go to/portal to the definition in highlighted line
#overview-definition l
goto-definition <C-]>
portal-to-definition ]

# In presentation mode, we fit the pages to screen and movement keys move entire pages
toggle-presentation-mode <f5>

## Quit sioyek
#quit q

# Open PDF links using keyboard
open-link f

# Select text using keyboard
keyboard-select v

# Smart jump using keyboard
keyboard-smart-jump F

## Open overview window using keyboard
#keyboard-overview <unbound>

## If the preview is not correct, jump to the next preview
#next-preview <C-n>

## If the preview is not correct, jump to the previous preview
#previous-preview <C-N>

## Jump to the location of the current overview
#goto-overview <unbound>

## Create a portal to the location of the current overview
#portal-to-overview <unbound>

## Center the window on selected text
#goto-selected-text <unbound>

## Focus the visual mark on the text matching the given string (useful when extensions want to focus on a text)
#focus-text <unbound>

## Smart jump to the location under mouse cursor
#smart-jump-under-cursor <unbound>
## Open overview window to the location under mouse cursor
#overview-under-cursor <unbound>
## Set a visual mark under mouse cursor
#visual-mark-under-cursor <unbound>
## Close the overview window
#close-overview <unbound>
## Exit visual mark mode
#close-visual-mark <unbound>

## Import sioyek data from an exported file
#import <unbound>

## Export sioyek data into a json file
#export <unbound>

## Execute shell commands. For example:
## sioyek --new-instance %1
## in the command %1 expands to the path of the current file and %2 expand to the file name of the current file
#execute <unbound>

## (deprecated see bottom of the page) Execute a predefined command. these commands are defined in `prefs-user.config` file using the following syntax:
## --------prefs-user.config-----------
## execute-command-a	some-command %1 %2
## execute-command-x	another-command %2
## ------------------------------------
## now in order to execute the second command you can first execute `execute-predefined-command` and then press 'x'
#execute-predefined-command <unbound>

## Embed the annotations (highlights and bookmarks) into a new PDF file so they are visible to other PDF readers
#embed-annotations <unbound>

## Copy the current window configuration to clipboard so they can be used in `prefs-user.config`
#copy-window-size-config <unbound>

## Opens the default preference file
#prefs <unbound>
## Opens the user preference file with highest priority
#prefs-user <unbound>
## Opens a list of all user preference files
#prefs-user-all <unbound>

## Opens the default kwys file
#keys <unbound>
## Opens the user keys file with highest priority
#keys-user <unbound>
## Opens a list of all user keys files
#keys-user-all <unbound>

## Enter password for password protected documents
#enter-password <unbound>

## Toggle fastread mode. this is an experiental feature
#toggle-fastread <unbound>

## Toggle statusbar display
#toggle-statusbar <unbound>

## Reload sioyek window
#reload <unbound>

## Set the status string to be displayed in sioyek's statusbar (it is useful for extensions)
#set-status-string <unbound>

## Clears the status string set by `set-status-string`
#clear-status-string <unbound>

## Toggles the window titlebar
#toggle-titlebar <unbound>

## You can bind custom commands defined in `prefs-user.config` using the same syntax as the built-in commands
## --------prefs-user.config-----------
## new-command	-my-command-name python /path/to/script.py %{file-name} %{paper-name}
## ------------------------------------
## now you can bind -my-command-name to a keybind here:
#-my-command-name <unbound>
